In [52]:
import pandas as pd
import numpy as np

In [72]:
data1 = pd.read_csv('titanic.csv',
                    dtype={'PassengerId':'int64','Survived':'int64','Pclass':'int64','Name':str,'Sex':'str','Age':'float64',
                           'SibSp':'int64','Parch':'int64','Ticket':'str','Fare':'float64','Cabin':'str','Embarked':'str'})
data1.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [73]:
data1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [74]:
data1.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [75]:
data1.Sex = data1.Sex.str.split(',') 
data1['Embarked'] = data1['Embarked'].astype(str)
data1['Cabin'] = data1['Cabin'].astype(str)
data1.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [76]:
data = data1[:100]
X = data.drop(['Survived','Name','PassengerId','Ticket'],axis=1)
y = data['Survived']

In [77]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.dtypes

Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [78]:
from sklearn import tree

model = tree.DecisionTreeClassifier()

In [79]:
model.fit(X_train, y_train)

ValueError: could not convert string to float: 'S'