In [3]:
data = read.csv("bookexr.csv")

In [7]:
anova1 <- aov(Sales~Location,data=data)

In [9]:
anova1

Call:
   aov(formula = Sales ~ Location, data = data)

Terms:
                Location Residuals
Sum of Squares   11.6217    0.7026
Deg. of Freedom        3        16

Residual standard error: 0.2095531
Estimated effects may be unbalanced

In [19]:
summary(anova1)

            Df Sum Sq Mean Sq F value   Pr(>F)
Location     3 11.622   3.874   88.22 3.63e-10 ***
Residuals   16  0.703   0.044
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

# It is significant, Reject the null hypothesis. Pvalue is less then alpha

In [21]:
TukeyHSD(anova1)

  Tukey multiple comparisons of means
    95% family-wise confidence level

Fit: aov(formula = Sales ~ Location, data = data)

$Location
               diff         lwr        upr     p adj
Expert-Aisle  0.352 -0.02717958  0.7311796 0.0736649
Front-Aisle   2.012  1.63282042  2.3911796 0.0000000
Kiosk-Aisle   0.930  0.55082042  1.3091796 0.0000158
Front-Expert  1.660  1.28082042  2.0391796 0.0000000
Kiosk-Expert  0.578  0.19882042  0.9571796 0.0024578
Kiosk-Front  -1.082 -1.46117958 -0.7028204 0.0000023

In [32]:
mean(data[data["Location"]="Aisle"]$Sales)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:27: unexpected '='
1: mean(data[data["Location"]=
                              ^

In [30]:
data

   Location Sales
1  Aisle    30.06
2  Aisle    29.96
3  Aisle    30.19
4  Aisle    29.96
5  Aisle    29.74
6  Front    32.22
7  Front    31.47
8  Front    32.13
9  Front    31.86
10 Front    32.29
11 Kiosk    30.78
12 Kiosk    30.91
13 Kiosk    30.95
14 Kiosk    31.13
15 Kiosk    30.79
16 Expert   30.33
17 Expert   30.29
18 Expert   30.25
19 Expert   30.25
20 Expert   30.55

What is the difference between ANOVA & Regression ?

*When you use logistic regression?*

Where you are not able to rep data linearly you use logistics regression


data